<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
        }

        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            font-size: 15px;
            font-style: normal;
            font-family: Helvetica, Arial, sans-serif;
        }

        .title01 {
            font-weight: 700;
            font-size: 32px;
            letter-spacing: 4px;
        }

        .title02 {
            font-weight: 700;
            font-size: 18px
        }

        .title03 {
            font-weight: 400;
            font-size: 16px;
        }

        .text {
            font-size: 12px;
            font-weight: 400;
        }

        .main__container {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            border: 2px solid #3CB6BD;
            margin: 35px;
            border-radius: 24px;
            box-sizing: border-box;
        }

        .header__logo {
            display: flex;
            justify-content: flex-end;
            padding-top: 30px;
            padding-right: 30px;
        }

        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .content__title {
            flex-grow: 1;
            color: #3CB6BD;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-right: 25%;
        }

        .content__body {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10%;
        }

        .content__body__name {
            margin-bottom: 5%;
        }

        .content__body__success-text {
            margin-bottom: 5%;
        }

        .content__body__training-name {
            margin-bottom: 5%;

        }

        .content__body__recommendation-text {
            margin-bottom: 15%;
        }

        .content__body__date-text {
            margin-bottom: 15%;
        }

        .footer {
            display: flex;
            justify-content: center;
            margin: 5%;
        }
    </style>

</head>

<body>
    <div class="main__container">
        <div class="header">
            <div class="header__logo">
                {{!-- TODO set up static place in handlebar to be possible serve the pdf with images --}}
                {{!-- <img src="/images/logo_fette 600 light.svg" /> --}}

                {{!-- temp logo_fette 600 light.svg START --}}
                <svg width="205" height="72" viewBox="0 0 205 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_15458_31166)">
                        <path
                            d="M87.7339 12.9176H101.961V16.8353H92.7996V20.7529H100.775V24.5647H92.7996V31.8706H87.7339V12.9176Z"
                            fill="black" />
                        <path
                            d="M103.039 12.9176H118.344V16.8353H107.997V20.1176H117.374V23.9294H107.997V27.5294H118.56V31.7647H103.039V12.9176Z"
                            fill="black" />
                        <path
                            d="M134.619 17.1529H129.553V31.8706H124.487V17.1529H119.421V12.9176H134.511V17.1529H134.619Z"
                            fill="black" />
                        <path d="M150.894 17.1529H145.828V31.8706H140.762V17.1529H135.804V12.9176H150.894V17.1529Z"
                            fill="black" />
                        <path
                            d="M152.08 12.9176H167.492V16.8353H157.145V20.1176H166.63V23.9294H157.145V27.5294H167.816V31.7647H152.187V12.9176H152.08Z"
                            fill="black" />
                        <path
                            d="M113.817 38.2235C113.709 37.1647 112.847 36.6353 111.661 36.6353C109.937 36.6353 109.29 38.1176 109.29 39.7059C109.29 41.1882 109.937 42.6706 111.661 42.6706C112.955 42.6706 113.709 42.0353 113.817 40.7647H116.512C116.404 43.4118 114.464 44.8941 111.769 44.8941C108.644 44.8941 106.596 42.5647 106.596 39.6C106.596 36.6353 108.644 34.3059 111.769 34.3059C114.033 34.3059 116.404 35.6823 116.512 38.2235H113.817Z"
                            fill="black" />
                        <path
                            d="M122.44 34.3059C125.673 34.3059 127.613 36.6353 127.613 39.6C127.613 42.5647 125.781 44.8941 122.44 44.8941C119.206 44.8941 117.266 42.5647 117.266 39.6C117.374 36.6353 119.206 34.3059 122.44 34.3059ZM122.44 42.6706C124.164 42.6706 124.919 41.1882 124.919 39.7059C124.919 38.2235 124.272 36.6353 122.44 36.6353C120.715 36.6353 120.068 38.1176 120.068 39.7059C120.068 41.1882 120.715 42.6706 122.44 42.6706Z"
                            fill="black" />
                        <path
                            d="M129.23 34.5176H133.218L134.942 41.2941L136.775 34.5176H140.763V44.6823H138.176V36.9529L136.02 44.6823H133.972L131.817 36.9529V44.6823H129.23V34.5176Z"
                            fill="black" />
                        <path
                            d="M143.134 34.5176H148.092C150.032 34.5176 151.864 35.3647 151.864 37.8C151.864 40.3412 150.463 41.2941 148.092 41.2941H145.828V44.6823H143.134V34.5176ZM145.828 39.2823H147.661C148.523 39.2823 149.17 38.9647 149.17 38.0118C149.17 37.0588 148.523 36.6353 147.661 36.6353H145.828V39.2823Z"
                            fill="black" />
                        <path
                            d="M154.666 34.5176H157.469L161.349 44.6823H158.547L157.9 42.8823H154.235L153.589 44.6823H150.894L154.666 34.5176ZM154.882 40.9765H157.253L156.068 37.3765L154.882 40.9765Z"
                            fill="black" />
                        <path
                            d="M168.354 38.2235C168.246 37.1647 167.384 36.6353 166.199 36.6353C164.474 36.6353 163.827 38.1176 163.827 39.7059C163.827 41.1882 164.474 42.6706 166.199 42.6706C167.492 42.6706 168.246 42.0353 168.354 40.7647H171.049C170.941 43.4118 169.001 44.8941 166.306 44.8941C163.181 44.8941 161.133 42.5647 161.133 39.6C161.133 36.6353 163.181 34.3059 166.306 34.3059C168.57 34.3059 170.941 35.6823 171.049 38.2235H168.354Z"
                            fill="black" />
                        <path d="M179.133 36.8471H176.33V44.7882H173.528V36.8471H170.726V34.5176H179.133V36.8471Z"
                            fill="black" />
                        <path d="M179.779 34.5176H182.474V44.6823H179.779V34.5176Z" fill="black" />
                        <path
                            d="M184.737 34.5176H187.432L191.096 40.8706V34.5176H193.683V44.6823H190.881L187.216 38.3294V44.6823H184.737V34.5176Z"
                            fill="black" />
                        <path
                            d="M205 44.7882H203.276L203.06 43.6235C202.306 44.5764 201.12 45 200.15 45C197.024 45 194.977 42.6706 194.977 39.7059C194.977 36.7412 197.024 34.4117 200.15 34.4117C202.306 34.4117 204.569 35.5764 204.785 38.1176H202.09C201.982 37.2706 201.12 36.7412 200.042 36.7412C198.318 36.7412 197.671 38.2235 197.671 39.8117C197.671 41.2941 198.318 42.7764 200.042 42.7764C201.336 42.7764 202.306 42.247 202.413 41.2941H200.473V39.1764H204.785V44.7882H205Z"
                            fill="black" />
                        <path
                            d="M40.9568 0C42.1424 0 43.2202 0.952941 43.2202 2.22353C43.2202 3.38824 42.2501 4.44706 40.9568 4.44706C39.7712 4.44706 38.6934 3.49412 38.6934 2.22353C38.8011 1.05882 39.7712 0.105882 40.9568 0Z"
                            fill="#009AB1" />
                        <path
                            d="M40.957 9.63532C42.088 9.63532 43.0049 8.73462 43.0049 7.62355C43.0049 6.51248 42.088 5.61179 40.957 5.61179C39.826 5.61179 38.9092 6.51248 38.9092 7.62355C38.9092 8.73462 39.826 9.63532 40.957 9.63532Z"
                            fill="#009AB1" />
                        <path
                            d="M40.9568 14.6118C41.9687 14.6118 42.7891 13.8059 42.7891 12.8118C42.7891 11.8177 41.9687 11.0118 40.9568 11.0118C39.9449 11.0118 39.1245 11.8177 39.1245 12.8118C39.1245 13.8059 39.9449 14.6118 40.9568 14.6118Z"
                            fill="#009AB1" />
                        <path
                            d="M40.9569 16.6235C39.9869 16.6235 39.2324 17.3647 39.2324 18.3177C39.2324 19.2706 39.9869 20.0118 40.9569 20.0118C41.927 20.0118 42.6814 19.2706 42.6814 18.3177C42.6814 17.3647 41.927 16.6235 40.9569 16.6235Z"
                            fill="#009AB1" />
                        <path
                            d="M40.9566 22.8706C40.0943 22.8706 39.3398 23.6118 39.3398 24.4588C39.3398 25.3059 40.0943 26.047 40.9566 26.047C41.8188 26.047 42.5733 25.3059 42.5733 24.4588C42.6811 23.6118 41.9266 22.8706 40.9566 22.8706Z"
                            fill="#009AB1" />
                        <path
                            d="M40.9568 30.3882C40.2024 30.3882 39.5557 31.0235 39.5557 31.7647C39.5557 32.5059 40.2024 33.1412 40.9568 33.1412C41.7113 33.1412 42.358 32.5059 42.358 31.7647C42.4658 31.0235 41.8191 30.3882 40.9568 30.3882Z"
                            fill="#009AB1" />
                        <path
                            d="M48.5017 1.79999C49.6873 1.79999 50.7651 2.75293 50.7651 4.02352C50.7651 5.18822 49.7951 6.24705 48.5017 6.24705C47.3161 6.24705 46.2383 5.2941 46.2383 4.02352C46.2383 2.75293 47.2083 1.79999 48.5017 1.79999Z"
                            fill="#009AB1" />
                        <path
                            d="M48.5015 8.78824C47.4236 8.78824 46.4536 9.74118 46.4536 10.8C46.4536 11.9647 47.4236 12.8118 48.5015 12.8118C49.687 12.8118 50.5493 11.8588 50.5493 10.8C50.5493 9.74118 49.5793 8.78824 48.5015 8.78824Z"
                            fill="#009AB1" />
                        <path
                            d="M48.5012 16.0941C47.5312 16.0941 46.6689 16.8353 46.6689 17.8941C46.6689 18.8471 47.4234 19.6941 48.5012 19.6941C49.4713 19.6941 50.3335 18.9529 50.3335 17.8941C50.2257 16.8353 49.4713 16.0941 48.5012 16.0941Z"
                            fill="#009AB1" />
                        <path
                            d="M48.5013 22.8706C47.5313 22.8706 46.7769 23.6118 46.7769 24.5647C46.7769 25.5176 47.5313 26.2588 48.5013 26.2588C49.4714 26.2588 50.2258 25.5176 50.2258 24.5647C50.2258 23.6118 49.4714 22.8706 48.5013 22.8706Z"
                            fill="#009AB1" />
                        <path
                            d="M48.5015 30.2823C47.6392 30.2823 46.8848 31.0235 46.8848 31.8706C46.8848 32.7176 47.6392 33.4588 48.5015 33.4588C49.3637 33.4588 50.1182 32.7176 50.1182 31.8706C50.1182 31.0235 49.3637 30.2823 48.5015 30.2823Z"
                            fill="#009AB1" />
                        <path
                            d="M55.2917 5.08237C56.4773 5.08237 57.5551 6.03531 57.5551 7.3059C57.5551 8.4706 56.5851 9.52943 55.2917 9.52943C54.1061 9.52943 53.0283 8.57648 53.0283 7.3059C53.0283 6.03531 53.9983 5.08237 55.2917 5.08237Z"
                            fill="#009AB1" />
                        <path
                            d="M54.9685 14.6118C55.9805 14.6118 56.8008 13.8059 56.8008 12.8118C56.8008 11.8177 55.9805 11.0118 54.9685 11.0118C53.9566 11.0118 53.1362 11.8177 53.1362 12.8118C53.1362 13.8059 53.9566 14.6118 54.9685 14.6118Z"
                            fill="#009AB1" />
                        <path
                            d="M54.3215 17.0471C53.3515 17.0471 52.4893 17.7882 52.4893 18.8471C52.4893 19.8 53.2437 20.6471 54.3215 20.6471C55.2916 20.6471 56.1538 19.9059 56.1538 18.8471C56.1538 17.7882 55.2916 17.0471 54.3215 17.0471Z"
                            fill="#009AB1" />
                        <path
                            d="M55.2918 26.3647C56.3037 26.3647 57.124 25.5588 57.124 24.5647C57.124 23.5706 56.3037 22.7647 55.2918 22.7647C54.2798 22.7647 53.4595 23.5706 53.4595 24.5647C53.4595 25.5588 54.2798 26.3647 55.2918 26.3647Z"
                            fill="#009AB1" />
                        <path
                            d="M54.7528 30.1765C53.7828 30.1765 53.0283 30.9177 53.0283 31.8706C53.0283 32.8235 53.7828 33.5647 54.7528 33.5647C55.7228 33.5647 56.4773 32.8235 56.4773 31.8706C56.4773 30.9177 55.7228 30.1765 54.7528 30.1765Z"
                            fill="#009AB1" />
                        <path
                            d="M61.2195 9.74118C62.4051 9.74118 63.4829 10.6941 63.4829 11.9647C63.4829 13.1294 62.5128 14.1882 61.2195 14.1882C60.0339 14.1882 58.9561 13.2353 58.9561 11.9647C58.9561 10.6941 60.0339 9.74118 61.2195 9.74118Z"
                            fill="#009AB1" />
                        <path
                            d="M60.3572 16.3059C59.2794 16.3059 58.5249 17.1529 58.5249 18.1059C58.5249 19.0588 59.3872 19.9059 60.3572 19.9059C61.435 19.9059 62.1895 19.0588 62.1895 18.1059C62.1895 17.0471 61.3272 16.3059 60.3572 16.3059Z"
                            fill="#009AB1" />
                        <path
                            d="M62.2974 26.5765C63.4283 26.5765 64.3452 25.6758 64.3452 24.5647C64.3452 23.4536 63.4283 22.5529 62.2974 22.5529C61.1664 22.5529 60.2495 23.4536 60.2495 24.5647C60.2495 25.6758 61.1664 26.5765 62.2974 26.5765Z"
                            fill="#009AB1" />
                        <path
                            d="M60.3572 30.0706C59.2794 30.0706 58.5249 30.9176 58.5249 31.8706C58.5249 32.9294 59.3872 33.6706 60.3572 33.6706C61.3272 33.6706 62.1895 32.8235 62.1895 31.8706C62.1895 30.8118 61.3272 30.0706 60.3572 30.0706Z"
                            fill="#009AB1" />
                        <path
                            d="M66.0696 15.6706C67.2551 15.6706 68.333 16.6235 68.333 17.8941C68.333 19.0588 67.3629 20.1176 66.0696 20.1176C64.884 20.1176 63.8062 19.1647 63.8062 17.8941C63.8062 16.6235 64.7762 15.6706 66.0696 15.6706Z"
                            fill="#009AB1" />
                        <path
                            d="M69.3034 22.3412C70.489 22.3412 71.5668 23.2941 71.5668 24.5647C71.5668 25.7294 70.5968 26.7882 69.3034 26.7882C68.1179 26.7882 67.04 25.8353 67.04 24.5647C67.04 23.2941 68.1179 22.3412 69.3034 22.3412Z"
                            fill="#009AB1" />
                        <path
                            d="M67.6865 31.8706C67.6865 30.8118 66.7165 29.8588 65.6387 29.8588C64.5609 29.8588 63.5908 30.8118 63.5908 31.8706C63.5908 33.0353 64.5609 33.8824 65.6387 33.8824C66.7165 33.8824 67.6865 32.9294 67.6865 31.8706Z"
                            fill="#009AB1" />
                        <path
                            d="M71.1355 29.6471C72.3211 29.6471 73.3989 30.6 73.3989 31.8706C73.3989 33.0353 72.4289 34.0941 71.1355 34.0941C69.9499 34.0941 68.8721 33.1412 68.8721 31.8706C68.8721 30.6 69.8421 29.6471 71.1355 29.6471Z"
                            fill="#009AB1" />
                        <path
                            d="M0 31.7647C0 30.6 0.970031 29.5412 2.26341 29.5412C3.449 29.5412 4.52681 30.4941 4.52681 31.7647C4.52681 32.9294 3.55678 33.9882 2.26341 33.9882C1.07781 33.8823 0.107781 32.9294 0 31.7647Z"
                            fill="#009AB1" />
                        <path
                            d="M5.7124 31.7647C5.7124 32.9294 6.68243 33.7765 7.76025 33.7765C8.83806 33.7765 9.80809 32.8235 9.80809 31.7647C9.80809 30.7059 8.83806 29.7529 7.76025 29.7529C6.68243 29.7529 5.7124 30.6 5.7124 31.7647Z"
                            fill="#009AB1" />
                        <path
                            d="M11.2095 31.7647C11.2095 32.8235 12.0717 33.5647 13.0418 33.5647C14.1196 33.5647 14.874 32.7177 14.874 31.7647C14.874 30.8118 14.0118 29.9647 13.0418 29.9647C11.9639 29.9647 11.2095 30.7059 11.2095 31.7647Z"
                            fill="#009AB1" />
                        <path
                            d="M16.9219 31.7647C16.9219 32.7176 17.6763 33.4588 18.6464 33.4588C19.6164 33.4588 20.3709 32.7176 20.3709 31.7647C20.3709 30.8118 19.6164 30.0706 18.6464 30.0706C17.6763 30.0706 16.9219 30.8118 16.9219 31.7647Z"
                            fill="#009AB1" />
                        <path
                            d="M23.3887 31.7647C23.3887 32.6118 24.1431 33.353 25.0054 33.353C25.8676 33.353 26.6221 32.6118 26.6221 31.7647C26.6221 30.9177 25.8676 30.1765 25.0054 30.1765C24.0354 30.1765 23.3887 30.9177 23.3887 31.7647Z"
                            fill="#009AB1" />
                        <path
                            d="M30.9331 31.7647C30.9331 32.5059 31.5798 33.1412 32.3343 33.1412C33.0887 33.1412 33.7354 32.5059 33.7354 31.7647C33.7354 31.0235 33.0887 30.3883 32.3343 30.3883C31.5798 30.2824 30.9331 30.9177 30.9331 31.7647Z"
                            fill="#009AB1" />
                        <path
                            d="M1.83252 24.4588C1.83252 23.2941 2.80255 22.2353 4.09593 22.2353C5.28152 22.2353 6.35933 23.1882 6.35933 24.4588C6.35933 25.6235 5.3893 26.6824 4.09593 26.6824C2.80255 26.5765 1.83252 25.6235 1.83252 24.4588Z"
                            fill="#009AB1" />
                        <path
                            d="M11.1016 26.4706C12.2325 26.4706 13.1494 25.5699 13.1494 24.4588C13.1494 23.3478 12.2325 22.4471 11.1016 22.4471C9.97056 22.4471 9.05371 23.3478 9.05371 24.4588C9.05371 25.5699 9.97056 26.4706 11.1016 26.4706Z"
                            fill="#009AB1" />
                        <path
                            d="M18.2151 26.2588C19.227 26.2588 20.0474 25.4529 20.0474 24.4588C20.0474 23.4647 19.227 22.6588 18.2151 22.6588C17.2032 22.6588 16.3828 23.4647 16.3828 24.4588C16.3828 25.4529 17.2032 26.2588 18.2151 26.2588Z"
                            fill="#009AB1" />
                        <path
                            d="M23.2808 24.4588C23.2808 25.4118 24.0352 26.1529 25.0053 26.1529C25.9753 26.1529 26.7298 25.4118 26.7298 24.4588C26.7298 23.5059 25.9753 22.7647 25.0053 22.7647C24.0352 22.7647 23.2808 23.5059 23.2808 24.4588Z"
                            fill="#009AB1" />
                        <path
                            d="M30.8257 24.4588C30.8257 25.3059 31.5802 26.047 32.4424 26.047C33.3047 26.047 34.0591 25.3059 34.0591 24.4588C34.0591 23.6118 33.3047 22.8706 32.4424 22.8706C31.5802 22.8706 30.8257 23.5059 30.8257 24.4588Z"
                            fill="#009AB1" />
                        <path
                            d="M5.17334 17.7882C5.17334 16.6235 6.14337 15.5647 7.43675 15.5647C8.62234 15.5647 9.70015 16.5176 9.70015 17.7882C9.70015 18.9529 8.73012 20.0118 7.43675 20.0118C6.14337 19.9059 5.17334 18.9529 5.17334 17.7882Z"
                            fill="#009AB1" />
                        <path
                            d="M11.2095 18C11.2095 18.953 12.0717 19.8 13.0418 19.8C14.1196 19.8 14.874 18.953 14.874 18C14.874 16.9412 14.0118 16.2 13.0418 16.2C12.0717 16.2 11.2095 16.9412 11.2095 18Z"
                            fill="#009AB1" />
                        <path
                            d="M19.0774 20.4353C20.0893 20.4353 20.9097 19.6294 20.9097 18.6353C20.9097 17.6412 20.0893 16.8353 19.0774 16.8353C18.0655 16.8353 17.2451 17.6412 17.2451 18.6353C17.2451 19.6294 18.0655 20.4353 19.0774 20.4353Z"
                            fill="#009AB1" />
                        <path
                            d="M23.1729 17.7882C23.1729 18.7412 23.9273 19.5882 25.0051 19.5882C25.9752 19.5882 26.8374 18.847 26.8374 17.7882C26.8374 16.8353 26.0829 15.9882 25.0051 15.9882C23.9273 15.9882 23.1729 16.7294 23.1729 17.7882Z"
                            fill="#009AB1" />
                        <path
                            d="M30.7178 18.2118C30.7178 19.1647 31.4722 19.9059 32.4423 19.9059C33.4123 19.9059 34.1668 19.1647 34.1668 18.2118C34.1668 17.2588 33.4123 16.5176 32.4423 16.5176C31.4722 16.5176 30.7178 17.2588 30.7178 18.2118Z"
                            fill="#009AB1" />
                        <path
                            d="M9.91602 11.8588C9.91602 10.6941 10.886 9.63528 12.1794 9.63528C13.365 9.63528 14.4428 10.5882 14.4428 11.8588C14.4428 13.0235 13.4728 14.0823 12.1794 14.0823C10.886 14.0823 9.91602 13.1294 9.91602 11.8588Z"
                            fill="#009AB1" />
                        <path
                            d="M16.5981 12.8118C16.5981 13.8706 17.4604 14.6118 18.4304 14.6118C19.5082 14.6118 20.2627 13.7647 20.2627 12.8118C20.2627 11.7529 19.4005 11.0118 18.4304 11.0118C17.3526 10.9059 16.5981 11.7529 16.5981 12.8118Z"
                            fill="#009AB1" />
                        <path
                            d="M22.9575 10.8C22.9575 11.9647 23.9276 12.8118 25.0054 12.8118C26.0832 12.8118 27.0532 11.8588 27.0532 10.8C27.0532 9.74118 26.0832 8.78824 25.0054 8.78824C23.8198 8.78824 22.9575 9.74118 22.9575 10.8Z"
                            fill="#009AB1" />
                        <path
                            d="M32.4421 14.5059C33.4541 14.5059 34.2744 13.7 34.2744 12.7059C34.2744 11.7118 33.4541 10.9059 32.4421 10.9059C31.4302 10.9059 30.6099 11.7118 30.6099 12.7059C30.6099 13.7 31.4302 14.5059 32.4421 14.5059Z"
                            fill="#009AB1" />
                        <path
                            d="M15.9517 7.2C15.9517 6.0353 16.9217 4.97647 18.2151 4.97647C19.4007 4.97647 20.4785 5.92941 20.4785 7.2C20.4785 8.36471 19.5084 9.42353 18.2151 9.42353C16.9217 9.31765 15.9517 8.36471 15.9517 7.2Z"
                            fill="#009AB1" />
                        <path
                            d="M22.7417 3.91765C22.7417 2.75295 23.7117 1.69412 25.0051 1.69412C26.1907 1.69412 27.2685 2.64706 27.2685 3.91765C27.2685 5.08236 26.2985 6.14118 25.0051 6.14118C23.7117 6.14118 22.7417 5.18824 22.7417 3.91765Z"
                            fill="#009AB1" />
                        <path
                            d="M32.4424 9.52939C33.5734 9.52939 34.4902 8.62869 34.4902 7.51762C34.4902 6.40656 33.5734 5.50586 32.4424 5.50586C31.3114 5.50586 30.3945 6.40656 30.3945 7.51762C30.3945 8.62869 31.3114 9.52939 32.4424 9.52939Z"
                            fill="#009AB1" />
                        <path
                            d="M30.1787 2.22353C30.1787 0.952941 31.1487 0 32.4421 0C33.6277 0 34.7055 0.952941 34.7055 2.22353C34.7055 3.38824 33.7355 4.44706 32.4421 4.44706C31.1487 4.34118 30.1787 3.38824 30.1787 2.22353Z"
                            fill="#009AB1" />
                        <path
                            d="M32.3342 72C31.1486 72 30.0708 71.0471 30.0708 69.7765C30.0708 68.6118 31.0408 67.553 32.3342 67.553C33.5198 67.553 34.5976 68.5059 34.5976 69.7765C34.5976 71.0471 33.5198 72 32.3342 72Z"
                            fill="#009AB1" />
                        <path
                            d="M32.3345 66.3883C33.4655 66.3883 34.3823 65.4876 34.3823 64.3765C34.3823 63.2654 33.4655 62.3647 32.3345 62.3647C31.2035 62.3647 30.2866 63.2654 30.2866 64.3765C30.2866 65.4876 31.2035 66.3883 32.3345 66.3883Z"
                            fill="#009AB1" />
                        <path
                            d="M32.3342 61.0941C33.412 61.0941 34.1665 60.2471 34.1665 59.2941C34.1665 58.2353 33.3043 57.4941 32.3342 57.4941C31.2564 57.4941 30.502 58.3412 30.502 59.2941C30.502 60.2471 31.2564 61.0941 32.3342 61.0941Z"
                            fill="#009AB1" />
                        <path
                            d="M32.3344 55.3765C33.2868 55.3765 34.0589 54.618 34.0589 53.6824C34.0589 52.7467 33.2868 51.9883 32.3344 51.9883C31.3819 51.9883 30.6099 52.7467 30.6099 53.6824C30.6099 54.618 31.3819 55.3765 32.3344 55.3765Z"
                            fill="#009AB1" />
                        <path
                            d="M32.3345 49.1294C33.1967 49.1294 33.9512 48.3882 33.9512 47.5412C33.9512 46.6941 33.1967 45.9529 32.3345 45.9529C31.4722 45.9529 30.7178 46.6941 30.7178 47.5412C30.7178 48.3882 31.4722 49.1294 32.3345 49.1294Z"
                            fill="#009AB1" />
                        <path
                            d="M32.3343 41.6118C33.0888 41.6118 33.7355 40.9765 33.7355 40.2353C33.7355 39.4941 33.0888 38.8589 32.3343 38.8589C31.5798 38.8589 30.9331 39.4941 30.9331 40.2353C30.8254 40.9765 31.472 41.6118 32.3343 41.6118Z"
                            fill="#009AB1" />
                        <path
                            d="M24.8977 70.2C23.7121 70.2 22.6343 69.2471 22.6343 67.9765C22.6343 66.8118 23.6043 65.753 24.8977 65.753C26.0833 65.753 27.1611 66.7059 27.1611 67.9765C27.0533 69.2471 26.0833 70.2 24.8977 70.2Z"
                            fill="#009AB1" />
                        <path
                            d="M24.8975 63.2118C25.9753 63.2118 26.9453 62.2588 26.9453 61.2C26.9453 60.0353 25.9753 59.1883 24.8975 59.1883C23.7119 59.1883 22.8496 60.0353 22.8496 61.2C22.8496 62.2588 23.7119 63.2118 24.8975 63.2118Z"
                            fill="#009AB1" />
                        <path
                            d="M24.8972 55.9059C25.8673 55.9059 26.7295 55.1647 26.7295 54.1059C26.7295 53.153 25.975 52.3059 24.8972 52.3059C23.9272 52.3059 23.0649 53.0471 23.0649 54.1059C23.0649 55.1647 23.8194 55.9059 24.8972 55.9059Z"
                            fill="#009AB1" />
                        <path
                            d="M24.8974 49.2353C25.8674 49.2353 26.6219 48.4941 26.6219 47.5412C26.6219 46.5883 25.8674 45.8471 24.8974 45.8471C23.9273 45.8471 23.1729 46.5883 23.1729 47.5412C23.1729 48.3883 23.9273 49.2353 24.8974 49.2353Z"
                            fill="#009AB1" />
                        <path
                            d="M24.8975 41.8235C25.7597 41.8235 26.5142 41.0824 26.5142 40.2353C26.5142 39.3882 25.7597 38.6471 24.8975 38.6471C24.0352 38.6471 23.2808 39.3882 23.2808 40.2353C23.2808 41.0824 23.9275 41.8235 24.8975 41.8235Z"
                            fill="#009AB1" />
                        <path
                            d="M18.1072 66.9177C16.9216 66.9177 15.8438 65.9647 15.8438 64.6941C15.8438 63.5294 16.8138 62.4706 18.1072 62.4706C19.2928 62.4706 20.3706 63.4236 20.3706 64.6941C20.2628 65.9647 19.2928 66.9177 18.1072 66.9177Z"
                            fill="#009AB1" />
                        <path
                            d="M18.323 60.9882C19.4008 60.9882 20.1553 60.1412 20.1553 59.1882C20.1553 58.1294 19.293 57.3882 18.323 57.3882C17.2452 57.3882 16.4907 58.2353 16.4907 59.1882C16.4907 60.2471 17.2452 60.9882 18.323 60.9882Z"
                            fill="#009AB1" />
                        <path
                            d="M18.9695 55.0588C19.9814 55.0588 20.8018 54.253 20.8018 53.2588C20.8018 52.2647 19.9814 51.4588 18.9695 51.4588C17.9575 51.4588 17.1372 52.2647 17.1372 53.2588C17.1372 54.253 17.9575 55.0588 18.9695 55.0588Z"
                            fill="#009AB1" />
                        <path
                            d="M18.1072 49.3412C19.1191 49.3412 19.9395 48.5353 19.9395 47.5412C19.9395 46.5471 19.1191 45.7412 18.1072 45.7412C17.0952 45.7412 16.2749 46.5471 16.2749 47.5412C16.2749 48.5353 17.0952 49.3412 18.1072 49.3412Z"
                            fill="#009AB1" />
                        <path
                            d="M18.5385 41.9294C19.4909 41.9294 20.263 41.1709 20.263 40.2353C20.263 39.2997 19.4909 38.5412 18.5385 38.5412C17.5861 38.5412 16.814 39.2997 16.814 40.2353C16.814 41.1709 17.5861 41.9294 18.5385 41.9294Z"
                            fill="#009AB1" />
                        <path
                            d="M12.0715 62.2588C10.8859 62.2588 9.80811 61.3059 9.80811 60.0353C9.80811 58.8706 10.7781 57.9177 12.0715 57.9177C13.2571 57.9177 14.3349 58.8706 14.3349 60.0353C14.3349 61.3059 13.3649 62.2588 12.0715 62.2588Z"
                            fill="#009AB1" />
                        <path
                            d="M13.0418 55.6941C14.0537 55.6941 14.874 54.8883 14.874 53.8942C14.874 52.9 14.0537 52.0941 13.0418 52.0941C12.0298 52.0941 11.2095 52.9 11.2095 53.8942C11.2095 54.8883 12.0298 55.6941 13.0418 55.6941Z"
                            fill="#009AB1" />
                        <path
                            d="M10.9936 49.553C12.1246 49.553 13.0415 48.6523 13.0415 47.5412C13.0415 46.4301 12.1246 45.5294 10.9936 45.5294C9.86265 45.5294 8.9458 46.4301 8.9458 47.5412C8.9458 48.6523 9.86265 49.553 10.9936 49.553Z"
                            fill="#009AB1" />
                        <path
                            d="M12.9338 42.0353C14.0117 42.0353 14.7661 41.1882 14.7661 40.2353C14.7661 39.1765 13.9039 38.4353 12.9338 38.4353C11.856 38.4353 11.1016 39.2824 11.1016 40.2353C11.1016 41.1882 11.9638 42.0353 12.9338 42.0353Z"
                            fill="#009AB1" />
                        <path
                            d="M7.32933 56.3294C6.14373 56.3294 5.06592 55.3765 5.06592 54.1059C5.06592 52.9412 6.03595 51.8824 7.32933 51.8824C8.51492 51.8824 9.59273 52.8353 9.59273 54.1059C9.48495 55.3765 8.51492 56.3294 7.32933 56.3294Z"
                            fill="#009AB1" />
                        <path
                            d="M3.98802 49.6589C2.80242 49.6589 1.72461 48.7059 1.72461 47.4353C1.72461 46.2706 2.69464 45.2118 3.98802 45.2118C5.17361 45.2118 6.25142 46.1647 6.25142 47.4353C6.25142 48.7059 5.28139 49.6589 3.98802 49.6589Z"
                            fill="#009AB1" />
                        <path
                            d="M5.60449 40.2353C5.60449 41.4 6.57452 42.2471 7.65234 42.2471C8.83793 42.2471 9.70018 41.2941 9.70018 40.2353C9.70018 39.0706 8.83793 38.1176 7.65234 38.1176C6.57452 38.1176 5.60449 39.0706 5.60449 40.2353Z"
                            fill="#009AB1" />
                        <path
                            d="M2.26341 42.353C0.970031 42.353 0 41.4 0 40.2353C0 39.0706 0.970031 38.0118 2.26341 38.0118C3.449 38.0118 4.52681 38.9647 4.52681 40.2353C4.41903 41.4 3.449 42.353 2.26341 42.353Z"
                            fill="#009AB1" />
                        <path
                            d="M73.291 40.3412C73.291 41.5059 72.3209 42.4588 71.0276 42.4588C69.842 42.4588 68.7642 41.5059 68.7642 40.3412C68.7642 39.1765 69.7342 38.1176 71.0276 38.1176C72.3209 38.1176 73.291 39.0706 73.291 40.3412Z"
                            fill="#009AB1" />
                        <path
                            d="M65.5308 42.3529C66.6617 42.3529 67.5786 41.4522 67.5786 40.3412C67.5786 39.2301 66.6617 38.3294 65.5308 38.3294C64.3998 38.3294 63.4829 39.2301 63.4829 40.3412C63.4829 41.4522 64.3998 42.3529 65.5308 42.3529Z"
                            fill="#009AB1" />
                        <path
                            d="M62.1895 40.3412C62.1895 39.2823 61.3272 38.5412 60.3572 38.5412C59.2794 38.5412 58.5249 39.3882 58.5249 40.3412C58.5249 41.4 59.3872 42.1412 60.3572 42.1412C61.3272 42.1412 62.1895 41.2941 62.1895 40.3412Z"
                            fill="#009AB1" />
                        <path
                            d="M54.6449 42.0353C55.5973 42.0353 56.3694 41.2768 56.3694 40.3412C56.3694 39.4055 55.5973 38.6471 54.6449 38.6471C53.6925 38.6471 52.9204 39.4055 52.9204 40.3412C52.9204 41.2768 53.6925 42.0353 54.6449 42.0353Z"
                            fill="#009AB1" />
                        <path
                            d="M50.0103 40.3412C50.0103 39.4941 49.2558 38.7529 48.3936 38.7529C47.5313 38.7529 46.7769 39.4941 46.7769 40.3412C46.7769 41.1882 47.5313 41.9294 48.3936 41.9294C49.2558 41.9294 50.0103 41.1882 50.0103 40.3412Z"
                            fill="#009AB1" />
                        <path
                            d="M42.358 40.3412C42.358 39.6 41.7113 38.9647 40.9568 38.9647C40.2024 38.9647 39.5557 39.6 39.5557 40.3412C39.5557 41.0824 40.2024 41.7177 40.9568 41.7177C41.7113 41.7177 42.358 41.0824 42.358 40.3412Z"
                            fill="#009AB1" />
                        <path
                            d="M71.4585 47.6471C71.4585 48.8118 70.4884 49.8706 69.1951 49.8706C68.0095 49.8706 66.9316 48.9176 66.9316 47.6471C66.9316 46.4823 67.9017 45.4235 69.1951 45.4235C70.4884 45.4235 71.4585 46.3765 71.4585 47.6471Z"
                            fill="#009AB1" />
                        <path
                            d="M62.2974 49.6588C63.4283 49.6588 64.3452 48.7581 64.3452 47.6471C64.3452 46.536 63.4283 45.6353 62.2974 45.6353C61.1664 45.6353 60.2495 46.536 60.2495 47.6471C60.2495 48.7581 61.1664 49.6588 62.2974 49.6588Z"
                            fill="#009AB1" />
                        <path
                            d="M55.1838 49.4471C56.1958 49.4471 57.0161 48.6412 57.0161 47.6471C57.0161 46.653 56.1958 45.8471 55.1838 45.8471C54.1719 45.8471 53.3516 46.653 53.3516 47.6471C53.3516 48.6412 54.1719 49.4471 55.1838 49.4471Z"
                            fill="#009AB1" />
                        <path
                            d="M50.118 47.6471C50.118 46.6941 49.3635 45.9529 48.3935 45.9529C47.4234 45.9529 46.6689 46.6941 46.6689 47.6471C46.6689 48.6 47.4234 49.3412 48.3935 49.3412C49.3635 49.3412 50.118 48.4941 50.118 47.6471Z"
                            fill="#009AB1" />
                        <path
                            d="M42.5733 47.6471C42.5733 46.8 41.8188 46.0588 40.9566 46.0588C40.0943 46.0588 39.3398 46.8 39.3398 47.6471C39.3398 48.4941 40.0943 49.2353 40.9566 49.2353C41.8188 49.2353 42.5733 48.4941 42.5733 47.6471Z"
                            fill="#009AB1" />
                        <path
                            d="M68.2251 54.3176C68.2251 55.4823 67.255 56.5412 65.9616 56.5412C64.7761 56.5412 63.6982 55.5882 63.6982 54.3176C63.6982 53.1529 64.6683 52.0941 65.9616 52.0941C67.1472 52.0941 68.2251 53.0471 68.2251 54.3176Z"
                            fill="#009AB1" />
                        <path
                            d="M62.1895 54C62.1895 52.9412 61.3272 52.2 60.3572 52.2C59.2794 52.2 58.5249 53.0471 58.5249 54C58.5249 55.0588 59.3872 55.8 60.3572 55.8C61.3272 55.9059 62.1895 55.0588 62.1895 54Z"
                            fill="#009AB1" />
                        <path
                            d="M54.2136 55.1647C55.2256 55.1647 56.0459 54.3588 56.0459 53.3647C56.0459 52.3706 55.2256 51.5647 54.2136 51.5647C53.2017 51.5647 52.3813 52.3706 52.3813 53.3647C52.3813 54.3588 53.2017 55.1647 54.2136 55.1647Z"
                            fill="#009AB1" />
                        <path
                            d="M50.1182 54.3176C50.1182 53.3647 49.3637 52.5176 48.2859 52.5176C47.3159 52.5176 46.4536 53.2588 46.4536 54.3176C46.4536 55.2706 47.2081 56.1176 48.2859 56.1176C49.3637 56.0118 50.1182 55.2706 50.1182 54.3176Z"
                            fill="#009AB1" />
                        <path
                            d="M40.849 55.4823C41.8014 55.4823 42.5735 54.7239 42.5735 53.7882C42.5735 52.8526 41.8014 52.0941 40.849 52.0941C39.8966 52.0941 39.1245 52.8526 39.1245 53.7882C39.1245 54.7239 39.8966 55.4823 40.849 55.4823Z"
                            fill="#009AB1" />
                        <path
                            d="M63.375 60.1412C63.375 61.3059 62.4049 62.3647 61.1116 62.3647C59.926 62.3647 58.8481 61.4118 58.8481 60.1412C58.8481 58.9765 59.8182 58.0235 61.1116 58.0235C62.4049 57.9176 63.375 58.9765 63.375 60.1412Z"
                            fill="#009AB1" />
                        <path
                            d="M56.8003 59.2941C56.8003 58.2353 55.9381 57.4941 54.968 57.4941C53.8902 57.4941 53.1357 58.3412 53.1357 59.2941C53.1357 60.2471 53.998 61.0941 54.968 61.0941C55.9381 61.0941 56.8003 60.2471 56.8003 59.2941Z"
                            fill="#009AB1" />
                        <path
                            d="M50.4414 61.2C50.4414 60.0353 49.4714 59.1882 48.3935 59.1882C47.3157 59.1882 46.3457 60.0353 46.3457 61.2C46.3457 62.3647 47.3157 63.2117 48.3935 63.2117C49.4714 63.2117 50.4414 62.3647 50.4414 61.2Z"
                            fill="#009AB1" />
                        <path
                            d="M42.7891 59.2941C42.7891 58.2353 41.9268 57.4941 40.9568 57.4941C39.879 57.4941 39.1245 58.3412 39.1245 59.2941C39.1245 60.2471 39.9868 61.0941 40.9568 61.0941C41.9268 61.0941 42.7891 60.2471 42.7891 59.2941Z"
                            fill="#009AB1" />
                        <path
                            d="M57.3393 64.8C57.3393 65.9647 56.3693 67.0235 55.0759 67.0235C53.8903 67.0235 52.8125 66.0706 52.8125 64.8C52.8125 63.6353 53.7825 62.5764 55.0759 62.5764C56.3693 62.6823 57.3393 63.6353 57.3393 64.8Z"
                            fill="#009AB1" />
                        <path
                            d="M50.5493 68.0824C50.5493 69.2471 49.5792 70.3059 48.2859 70.3059C47.1003 70.3059 46.0225 69.3529 46.0225 68.0824C46.0225 66.9177 46.9925 65.8588 48.2859 65.8588C49.5792 65.8588 50.5493 66.9177 50.5493 68.0824Z"
                            fill="#009AB1" />
                        <path
                            d="M40.8491 66.4941C41.9801 66.4941 42.897 65.5934 42.897 64.4823C42.897 63.3713 41.9801 62.4706 40.8491 62.4706C39.7181 62.4706 38.8013 63.3713 38.8013 64.4823C38.8013 65.5934 39.7181 66.4941 40.8491 66.4941Z"
                            fill="#009AB1" />
                        <path
                            d="M43.1123 69.8824C43.1123 71.0471 42.1422 72.1059 40.8489 72.1059C39.6633 72.1059 38.5854 71.153 38.5854 69.8824C38.5854 68.7177 39.5555 67.6588 40.8489 67.6588C42.1422 67.6588 43.1123 68.6118 43.1123 69.8824Z"
                            fill="#009AB1" />
                        <path
                            d="M91.7232 58.3719H88.5137V51.2713H91.9538C92.8219 51.2842 93.4369 51.5363 93.7988 52.0276C94.0166 52.3295 94.1255 52.6908 94.1255 53.1115C94.1255 53.5451 94.0166 53.8935 93.7988 54.1568C93.6771 54.3046 93.4977 54.4395 93.2607 54.5615C93.6227 54.6932 93.8949 54.9019 94.0775 55.1877C94.2633 55.4735 94.3562 55.8204 94.3562 56.2282C94.3562 56.649 94.2505 57.0263 94.0391 57.3603C93.9045 57.5819 93.7364 57.7682 93.5346 57.9191C93.3071 58.0925 93.0381 58.2113 92.7274 58.2756C92.4199 58.3398 92.0852 58.3719 91.7232 58.3719ZM91.6896 55.2455H89.9262V57.1387H91.6655C91.9762 57.1387 92.2181 57.097 92.3911 57.0135C92.705 56.8593 92.8619 56.5638 92.8619 56.1271C92.8619 55.7578 92.7098 55.5041 92.4055 55.366C92.2357 55.2889 91.9971 55.2487 91.6896 55.2455ZM92.4247 53.8919C92.6169 53.7763 92.713 53.5691 92.713 53.2705C92.713 52.9397 92.5848 52.7213 92.3286 52.6153C92.1076 52.5415 91.8257 52.5045 91.483 52.5045H89.9262V54.0701H91.6655C91.9762 54.0701 92.2293 54.0107 92.4247 53.8919Z"
                            fill="#009AB1" />
                        <path
                            d="M99.9729 56.8304C99.9376 57.1419 99.7759 57.4582 99.4876 57.7794C99.0391 58.29 98.4113 58.5453 97.6041 58.5453C96.9379 58.5453 96.3501 58.3302 95.8408 57.8998C95.3315 57.4695 95.0769 56.7694 95.0769 55.7995C95.0769 54.8907 95.3059 54.1938 95.7639 53.7088C96.2252 53.2239 96.8226 52.9814 97.5561 52.9814C97.9917 52.9814 98.3841 53.0633 98.7332 53.2271C99.0824 53.3909 99.3707 53.6494 99.5981 54.0027C99.8031 54.3142 99.936 54.6755 99.9969 55.0866C100.032 55.3274 100.047 55.6743 100.04 56.1271H96.4558C96.475 56.6538 96.64 57.0231 96.9507 57.235C97.1397 57.3667 97.3671 57.4326 97.633 57.4326C97.9148 57.4326 98.1439 57.3523 98.32 57.1917C98.4161 57.105 98.501 56.9846 98.5747 56.8304H99.9729ZM98.6179 55.2214C98.5955 54.8586 98.485 54.584 98.2864 54.3977C98.091 54.2082 97.8476 54.1135 97.5561 54.1135C97.239 54.1135 96.9923 54.213 96.8162 54.4122C96.6432 54.6113 96.5343 54.881 96.4895 55.2214H98.6179Z"
                            fill="#009AB1" />
                        <path
                            d="M108.189 56.8304C108.154 57.1419 107.992 57.4582 107.704 57.7794C107.255 58.29 106.627 58.5453 105.82 58.5453C105.154 58.5453 104.566 58.3302 104.057 57.8998C103.548 57.4695 103.293 56.7694 103.293 55.7995C103.293 54.8907 103.522 54.1938 103.98 53.7088C104.441 53.2239 105.039 52.9814 105.772 52.9814C106.208 52.9814 106.6 53.0633 106.949 53.2271C107.298 53.3909 107.587 53.6494 107.814 54.0027C108.019 54.3142 108.152 54.6755 108.213 55.0866C108.248 55.3274 108.263 55.6743 108.256 56.1271H104.672C104.691 56.6538 104.856 57.0231 105.167 57.235C105.356 57.3667 105.583 57.4326 105.849 57.4326C106.131 57.4326 106.36 57.3523 106.536 57.1917C106.632 57.105 106.717 56.9846 106.791 56.8304H108.189ZM106.834 55.2214C106.812 54.8586 106.701 54.584 106.502 54.3977C106.307 54.2082 106.064 54.1135 105.772 54.1135C105.455 54.1135 105.208 54.213 105.032 54.4122C104.859 54.6113 104.75 54.881 104.705 55.2214H106.834Z"
                            fill="#009AB1" />
                        <path
                            d="M111.639 51.228V52.3456C111.562 52.3359 111.432 52.3295 111.249 52.3263C111.07 52.3199 110.945 52.36 110.875 52.4467C110.807 52.5302 110.774 52.6234 110.774 52.7261V53.1693H111.672V54.1376H110.774V58.3719H109.409V54.1376H108.645V53.1693H109.395V52.8321C109.395 52.2701 109.489 51.8831 109.678 51.6712C109.877 51.3564 110.356 51.1991 111.115 51.1991C111.201 51.1991 111.28 51.2023 111.35 51.2087C111.421 51.2119 111.517 51.2183 111.639 51.228Z"
                            fill="#009AB1" />
                        <path
                            d="M114.084 58.3719H112.72V54.1376H111.956V53.1693H112.705V52.8321C112.705 52.2733 112.829 51.8574 113.075 51.5844C113.296 51.3275 113.746 51.1991 114.425 51.1991C114.509 51.1991 114.594 51.2023 114.68 51.2087C114.766 51.2151 114.856 51.2215 114.949 51.228V52.3456C114.885 52.3424 114.823 52.3407 114.762 52.3407C114.701 52.3375 114.627 52.3359 114.541 52.3359C114.326 52.3359 114.195 52.3953 114.147 52.5142C114.099 52.633 114.078 52.8193 114.084 53.073V53.1693H114.983V54.1376H114.084V58.3719ZM117.159 53.1452V58.3719H115.795V53.1452H117.159ZM115.795 52.4804V51.228H117.135V52.4804H115.795Z"
                            fill="#009AB1" />
                        <path
                            d="M123.007 55.0047H121.604C121.578 54.8088 121.512 54.6321 121.407 54.4748C121.253 54.2628 121.014 54.1568 120.691 54.1568C120.229 54.1568 119.914 54.3865 119.744 54.8457C119.654 55.0898 119.61 55.4141 119.61 55.8188C119.61 56.2042 119.654 56.5141 119.744 56.7485C119.907 57.1853 120.215 57.4037 120.667 57.4037C120.987 57.4037 121.214 57.3169 121.349 57.1435C121.483 56.9701 121.565 56.7453 121.594 56.4691H122.992C122.96 56.8866 122.81 57.2816 122.54 57.6541C122.111 58.2547 121.475 58.555 120.633 58.555C119.791 58.555 119.171 58.3045 118.774 57.8035C118.376 57.3025 118.178 56.6522 118.178 55.8525C118.178 54.9501 118.397 54.2484 118.836 53.7474C119.275 53.2464 119.88 52.9959 120.652 52.9959C121.309 52.9959 121.845 53.1436 122.262 53.4391C122.681 53.7345 122.93 54.2564 123.007 55.0047Z"
                            fill="#009AB1" />
                        <path
                            d="M128.436 56.8304C128.401 57.1419 128.239 57.4582 127.951 57.7794C127.502 58.29 126.874 58.5453 126.067 58.5453C125.401 58.5453 124.813 58.3302 124.304 57.8998C123.794 57.4695 123.54 56.7694 123.54 55.7995C123.54 54.8907 123.769 54.1938 124.227 53.7088C124.688 53.2239 125.286 52.9814 126.019 52.9814C126.455 52.9814 126.847 53.0633 127.196 53.2271C127.545 53.3909 127.834 53.6494 128.061 54.0027C128.266 54.3142 128.399 54.6755 128.46 55.0866C128.495 55.3274 128.509 55.6743 128.503 56.1271H124.919C124.938 56.6538 125.103 57.0231 125.414 57.235C125.603 57.3667 125.83 57.4326 126.096 57.4326C126.378 57.4326 126.607 57.3523 126.783 57.1917C126.879 57.105 126.964 56.9846 127.038 56.8304H128.436ZM127.081 55.2214C127.058 54.8586 126.948 54.584 126.749 54.3977C126.554 54.2082 126.311 54.1135 126.019 54.1135C125.702 54.1135 125.455 54.213 125.279 54.4122C125.106 54.6113 124.997 54.881 124.952 55.2214H127.081Z"
                            fill="#009AB1" />
                        <path
                            d="M131.886 51.228V52.3456C131.809 52.3359 131.679 52.3295 131.496 52.3263C131.317 52.3199 131.192 52.36 131.122 52.4467C131.054 52.5302 131.021 52.6234 131.021 52.7261V53.1693H131.919V54.1376H131.021V58.3719H129.656V54.1376H128.892V53.1693H129.642V52.8321C129.642 52.2701 129.736 51.8831 129.925 51.6712C130.124 51.3564 130.603 51.1991 131.362 51.1991C131.448 51.1991 131.527 51.2023 131.597 51.2087C131.668 51.2119 131.764 51.2183 131.886 51.228Z"
                            fill="#009AB1" />
                        <path
                            d="M134.331 58.3719H132.967V54.1376H132.203V53.1693H132.952V52.8321C132.952 52.2733 133.076 51.8574 133.322 51.5844C133.543 51.3275 133.993 51.1991 134.672 51.1991C134.756 51.1991 134.84 51.2023 134.927 51.2087C135.013 51.2151 135.103 51.2215 135.196 51.228V52.3456C135.132 52.3424 135.069 52.3407 135.009 52.3407C134.948 52.3375 134.874 52.3359 134.788 52.3359C134.573 52.3359 134.442 52.3953 134.394 52.5142C134.346 52.633 134.325 52.8193 134.331 53.073V53.1693H135.23V54.1376H134.331V58.3719ZM137.406 53.1452V58.3719H136.042V53.1452H137.406ZM136.042 52.4804V51.228H137.382V52.4804H136.042Z"
                            fill="#009AB1" />
                        <path
                            d="M143.253 55.0047H141.851C141.825 54.8088 141.759 54.6321 141.654 54.4748C141.5 54.2628 141.261 54.1568 140.938 54.1568C140.476 54.1568 140.161 54.3865 139.991 54.8457C139.901 55.0898 139.857 55.4141 139.857 55.8188C139.857 56.2042 139.901 56.5141 139.991 56.7485C140.154 57.1853 140.462 57.4037 140.914 57.4037C141.234 57.4037 141.461 57.3169 141.596 57.1435C141.73 56.9701 141.812 56.7453 141.841 56.4691H143.239C143.207 56.8866 143.056 57.2816 142.787 57.6541C142.358 58.2547 141.722 58.555 140.88 58.555C140.038 58.555 139.418 58.3045 139.021 57.8035C138.623 57.3025 138.425 56.6522 138.425 55.8525C138.425 54.9501 138.644 54.2484 139.083 53.7474C139.522 53.2464 140.127 52.9959 140.899 52.9959C141.556 52.9959 142.092 53.1436 142.509 53.4391C142.928 53.7345 143.177 54.2564 143.253 55.0047Z"
                            fill="#009AB1" />
                        <path
                            d="M145.608 53.1211V58.3719H144.219V53.1211H145.608ZM145.608 51.228V52.4949H144.219V51.228H145.608Z"
                            fill="#009AB1" />
                        <path
                            d="M151.421 56.8304C151.386 57.1419 151.224 57.4582 150.936 57.7794C150.488 58.29 149.86 58.5453 149.053 58.5453C148.386 58.5453 147.799 58.3302 147.289 57.8998C146.78 57.4695 146.525 56.7694 146.525 55.7995C146.525 54.8907 146.754 54.1938 147.213 53.7088C147.674 53.2239 148.271 52.9814 149.005 52.9814C149.44 52.9814 149.833 53.0633 150.182 53.2271C150.531 53.3909 150.819 53.6494 151.047 54.0027C151.252 54.3142 151.385 54.6755 151.445 55.0866C151.481 55.3274 151.495 55.6743 151.489 56.1271H147.904C147.924 56.6538 148.089 57.0231 148.399 57.235C148.588 57.3667 148.816 57.4326 149.082 57.4326C149.363 57.4326 149.592 57.3523 149.769 57.1917C149.865 57.105 149.95 56.9846 150.023 56.8304H151.421ZM150.067 55.2214C150.044 54.8586 149.934 54.584 149.735 54.3977C149.54 54.2082 149.296 54.1135 149.005 54.1135C148.688 54.1135 148.441 54.213 148.265 54.4122C148.092 54.6113 147.983 54.881 147.938 55.2214H150.067Z"
                            fill="#009AB1" />
                        <path
                            d="M154.881 54.1376C154.416 54.1376 154.098 54.3351 153.925 54.7301C153.835 54.9388 153.79 55.2054 153.79 55.5298V58.3719H152.426V53.1308H153.747V53.8967C153.923 53.6269 154.09 53.4327 154.247 53.3138C154.528 53.1019 154.886 52.9959 155.318 52.9959C155.859 52.9959 156.301 53.1388 156.644 53.4246C156.99 53.7072 157.163 54.1777 157.163 54.8361V58.3719H155.76V55.1781C155.76 54.9019 155.723 54.6899 155.65 54.5422C155.515 54.2725 155.259 54.1376 154.881 54.1376Z"
                            fill="#009AB1" />
                        <path
                            d="M160.829 57.394V58.4201L160.18 58.4442C159.533 58.4667 159.091 58.3542 158.854 58.107C158.701 57.9496 158.624 57.7071 158.624 57.3796V54.1472H157.893V53.1693H158.624V51.7049H159.979V53.1693H160.829V54.1472H159.979V56.9219C159.979 57.1371 160.006 57.272 160.06 57.3266C160.115 57.378 160.281 57.4037 160.56 57.4037C160.602 57.4037 160.645 57.4037 160.69 57.4037C160.738 57.4004 160.784 57.3972 160.829 57.394Z"
                            fill="#009AB1" />
                    </g>
                    <defs>
                        <clipPath id="clip0_15458_31166">
                            <rect width="205" height="72" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                {{!-- temp logo_fette 600 light.svg END --}}

            </div>
        </div>
        <div class="content">
            <div class="content__title title01">CERTIFICATE</div>
            <div class="content__body">
                <div>
                    <div class="title02 content__body__name">
                        <span>{{firstName}}</span>
                        <span>{{lastName}}</span>
                        <div class="title03">
                            {{companyName}}
                        </div>
                    </div>
                    <div class="text content__body__success-text">
                        has successfully finished the Alva online training
                    </div>
                    <div class="title02 content__body__training-name">
                        {{trainingName}}
                    </div>
                    <div class="text content__body__recommendation-text">
                        Fette Compacting recommends conducting a skill refresher after two years
                    </div>
                    <div class="text content__body__date-text">
                        Certificate created on {{createdCertDate}}
                    </div>
                </div>
            </div>
            <div class="footer">
                <span>
                    {{!-- TODO set up static place in handlebar to be possible serve the pdf with images --}}
                    {{!-- <img src="/images/alva_logo_v2.svg" /> --}}

                    {{!-- temp alva_logo_v2.svg START --}}
                    <svg width="57" height="19" viewBox="0 0 57 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.554251 6.54795V6.12996C0.554251 2.14097 3.32551 0.78894 6.71376 0.78894C12.0602 0.78894 13.072 2.97695 13.072 6.09642V15.1994C13.072 16.8094 13.1713 17.5474 13.6262 18.5536H9.32293C9.05996 17.9777 8.87366 17.3706 8.76868 16.7475H8.70332C7.65756 18.5536 6.38958 19 4.23793 19C1.1085 18.9974 0 16.3579 0 14.0434C0 10.7924 1.33596 9.4739 4.44447 8.63792L6.98566 7.9619C8.32162 7.60841 8.77913 7.09495 8.77913 5.93644C8.77913 4.61796 8.1909 3.81294 6.68762 3.81294C5.31768 3.81294 4.5961 4.71343 4.5961 6.06545V6.54795H0.554251ZM8.76868 9.90222C8.18966 10.3111 7.53641 10.6063 6.84448 10.7717C5.01441 11.1562 4.30329 12.0257 4.30329 13.5713C4.30329 14.8897 4.79218 15.9838 5.99742 15.9838C7.20266 15.9838 8.76868 15.2097 8.76868 13.3132V9.90222Z"
                            fill="black" />
                        <path
                            d="M17.6963 18.5465V1.25911H21.8009L21.8819 15.0064H27.3539L28.316 18.5387L17.6963 18.5465Z"
                            fill="#008B95" />
                        <path
                            d="M36.8917 1.24161H41.3911L36.9911 18.547H31.7623L27.2446 1.24161H31.9505L34.4604 13.6266H34.51L36.8917 1.24161Z"
                            fill="black" />
                        <path
                            d="M43.9203 6.54795V6.12996C43.9203 2.14097 46.702 0.78894 50.0902 0.78894C55.4367 0.78894 56.4458 2.97695 56.4458 6.09642V15.1994C56.4458 16.8094 56.5452 17.5474 57.0001 18.5536H52.6994C52.4364 17.9777 52.2501 17.3706 52.1452 16.7475H52.0798C51.034 18.5536 49.7661 19 47.6144 19C44.4771 19 43.3765 16.3605 43.3765 14.046C43.3765 10.795 44.7124 9.47648 47.8209 8.6405L50.3621 7.96448C51.6981 7.61099 52.1556 7.09753 52.1556 5.93902C52.1556 4.62054 51.5674 3.81552 50.0641 3.81552C48.6941 3.81552 47.9726 4.71601 47.9726 6.06803V6.55053L43.9203 6.54795ZM52.1347 9.90222C51.5557 10.3111 50.9024 10.6063 50.2105 10.7717C48.3804 11.1562 47.6693 12.0257 47.6693 13.5713C47.6693 14.8897 48.1582 15.9838 49.3634 15.9838C50.5687 15.9838 52.1347 15.2097 52.1347 13.3132V9.90222Z"
                            fill="black" />
                    </svg>
                    {{!-- temp alva_logo_v2.svg END --}}

                </span>
                &nbsp;&nbsp;
                <span>by Fette Compacting GmbH</span>
            </div>
        </div>
    </div>
</body>

</html>